/*====================== start heading ======================================*/
.main_head {
  font-size: 18px;
  text-transform: capitalize;
  color: #262526;
  font-weight: bold;
}

/*====================== end heading ======================================*/
